
body {
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #111;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #ccc;
	text-decoration: none;
	cursor: pointer;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #febd69; color: #fff; text-shadow: none; }
::selection { background: #febd69; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #febd69;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
    font-family: 'Hiragino Sans GB','Microsoft Yahei',Arial,sans-serif;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
	border-radius: 4px;
    border: 1px #ddd solid;
}

.form-top {
	overflow: hidden;
	padding: 10px 25px 0px 5px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}
.form-top h1{
	color: #111;
	font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
}
.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 0px 10px 30px 10px;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}
.form-bottom .form-group{margin-bottom: 12px;}
.sr_only{
	line-height: 24px;
    display: block;
    padding-left: 2px;
    margin-bottom: 0px;
    font-weight: 700;
}
.login .sr_only{
	line-height: 24px;
    display: inline-block;
    padding-left: 2px;
    margin-bottom: 0px;
    font-weight: 700;
}
.form-bottom textarea {
	height: 100px;
}

.form-bottom button.btn {
	width: 100%;
}

.form-bottom .input-error {
	border-color: #febd69;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}
.forget{
	font-size: 13px;
    float: right;
    font-family: 'Hiragino Sans GB','Microsoft Yahei',Arial,sans-serif;
    font-weight: 500;
}
.forget a{
	text-decoration: none;
    color: #0066c0;
}
.forget a:hover{
	text-decoration: underline;
	color: #c45500;
}
.submitbtn{
	height: 30px;
	background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    padding: 0px;
}
.submitbtn:hover{
	background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.header{ width:100%;background-color: #232f3e;}
.navbar-default{background-color: #232f3e;border: none;}
.navbar{margin-bottom: 0px;}
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #fff;
	background-color: #febd69;
}*/
.navbar-default .navbar-nav>li:hover{
	/*background-color: #febd69;
	color: #fff;*/
	text-decoration: underline;
}

.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color: #ccc;font-size: 15px;}
#example-navbar-collapse .nav:first-child{margin-left: 50px;}
#example-navbar-collapse .nav:last-child{float: right;}
.popular-items{width: 20%;float: left;display: inline-block;padding-left:5px;padding-right: 5px;}
.popular-items .caption p{font-size: 12px;margin: 0px;}
.all-items{width: 80%;float: left;display: inline-block;border-left: 1px solid #ccc;}
.all-items .row{margin: 0px;padding-left:10px;padding-right: 10px; }
.all-items .col-sm-6,.all-items .col-md-3{padding-left:0px;padding-right: 0px;}
.likeList{height:22px;width: 100%;}
.likeList a img{height: 100%;width: auto;float: right;}
.likeList span{float: right;color: #febd69;}
.aboutHelp a{color: #777;}
.all-items .timedown{margin: 0;font-size: 14px;}
ul.countdown {
	list-style: none;
	padding: 0;
	display: block;
	text-align: left;
	margin-bottom: 0px;
}
ul.countdown li {
	display: inline-block;
}
ul.countdown li span {
	font-size: 13px;
	font-weight: 300;
	line-height: 26px;
}
ul.countdown li.seperator {
	font-size: 13px;
	line-height: 26px;
	vertical-align: top;
}
ul.countdown li p {
	color: #a7abb1;
	font-size: 14px;
}
.today_popular{margin-top: 10px;font-weight: bold;font-size: 20px;}
.searchPart input{padding-left: 10px;border-radius: 5px 0 0 5px;height:35px;line-height: 35px;}
.searchPart .btn{height: 35px;width: 45px;line-height: 35px;}
.searchPart input{border: 1px solid #ccc;border-right: none;}
.searchPart input:focus{border: 1px solid #febd69;border-right: none;}
.searchPart{margin-top: 10px; width: 100%;}
.searchPart .input-group-btn .btn{padding: 0px;background-color: #FF8C00;border: 1px solid #febd69;}
.searchPart .input-group-btn .btn span{width: 21px;height: 21px;background-image: url();}
.searchPart .input-group-btn .btn:hover,.searchPart .input-group-btn .btn:focus,.searchPart .input-group-btn .btn:active,.searchPart .input-group-btn .btn:visited{
	background-color: #f3a847;
	opacity: 1;
}
.searchPart .btn-default img{height: 25px;width: auto;}
/***** Media queries *****/
@media (min-width: 768px){
	.col-sm-offset-3 {
        margin: 0 auto !important;
    }
    .top-content .col-sm-6{
           width: 350px;
           margin: 0 auto;
           float: none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.top-content .col-sm-6{
           width: 350px;
           margin: 0 auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.top-content .col-sm-6{
           width: 350px;
           margin: 0 auto;
	}
}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}
@media (min-width: 640px) and (max-width: 767px){
	.home .col-sm-6 {
	    width: 33.33%;
	}
	.home .col-sm-1,.home .col-sm-10,.home .col-sm-11,.home .col-sm-12,.home .col-sm-2,.home .col-sm-3,.home .col-sm-4,.home .col-sm-5,.home .col-sm-6,.home .col-sm-7,.home .col-sm-8,.home .col-sm-9 {
	    float: left;
	}
	.home .popular-items{
		display: none;
	}
	.home .all-items{
		width: 100%;
		border-left: none;
	}
	.home .searchPart input,.home .searchPart .btn{height:35px;line-height: 35px;}
	.top-content .col-sm-6{
           width: 350px;
           margin: 0 auto;
	}
}
@media (min-width: 350px) and (max-width: 639px){
	.top-content .col-sm-6{
           width: 350px;
           margin: 0 auto;
	}
}
@media (min-width: 320px) and (max-width: 349px){
	.top-content .col-sm-6{
           width: 90%;
           margin: 0 auto;
	}
}
@media (min-width: 320px) and (max-width: 639px){
	.home .col-sm-6 {
	    width: 50%;
	}
	.home .col-sm-1,.home .col-sm-10,.home .col-sm-11,.home .col-sm-12,.home .col-sm-2,.home .col-sm-3,.home .col-sm-4,.home .col-sm-5,.home .col-sm-6,.home .col-sm-7,.home .col-sm-8,.home .col-sm-9 {
	    float: left;
	}
	.home.popular-items{
		display: none;
	}
	.home.all-items{
		width: 100%;
		border-left: none;
	}
	.home .searchPart input,.home .searchPart .btn{height:35px;line-height: 35px;}
	body{font-size: 12px !important;}
    .home .all-items .timedown,.home ul.countdown li span{font-size: 12px !important;}
    .home .likeList{height: 17px;}
}
