<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>help buy</title>
	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/form-elements.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="js/css/layer.css" rel="stylesheet" type="text/css">
	<link href="css/table.css" rel="stylesheet">
	<!-- Javascript -->

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<style type="text/css">
    .helpbuy{text-align: left;}
	#example-navbar-collapse .nav:first-child{
       margin-left: 0px;
	}
	.loginButtonContainer{margin-top: 4px;}
	#example-navbar-collapse{padding-top: 6px;}
</style>
<div class="header">
  <!--pht-->
  <div class="container" id="phonepart">
     <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid"> 
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#example-navbar-collapse">Account
              </button>
              <a class="navbar-brand" href="#"><img src="img/Logo.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="example-navbar-collapse">
           <ul class="nav navbar-nav text-right ">
              <li><a href="/product/home.html">Home</a></li>
              <li><a href="/product/getmoney.html">How to claim?</a></li>
              <li><a href="/product/company.html">connection</a></li>
              <li><a href="/product/helpbuy.html">help</a></li>
           </ul>
           <ul class="nav navbar-nav">
              {%if user_name%}
              <div class="loginButtonContainer">
                 <a class="button track-login">{{ user_name }}</a>
                 <a class="button primary signIn track-sign-up" onclick="logout()">Log Out</a>
             </div>
             {%else%}
             <div class="loginButtonContainer">
                 <a class="button track-login" href="login.html">Log In</a>
                 <a class="button primary signIn track-sign-up" href="signin.html">Sign In</a>
             </div>
             {%end%}
           </ul>
          </div>
        </div>
      </nav>
  </div>
  <!--pht-->
  <!--win-->
  <div class="container" id="windowpart">
     <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid"> 
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#example-navbar-collapse">Account
              </button>
              <a class="navbar-brand" href="#"><img src="img/Logo.png"></a>
          </div>
          <div class="collapse navbar-collapse" id="example-navbar-collapse">
              <div style="width:66%;float:left;">
                   <ul class="nav navbar-nav text-right ">
                      <li><a href="/product/home.html">Home</a></li>
                      <li><a href="/product/getmoney.html">How to claim</a></li>
                      <li><a href="/product/company.html">connection</a></li>
                      <li><a href="/product/helpbuy.html">help</a></li>
                   </ul>
               </div>
               <div style="width:27%;float:right;">
                   <ul class="nav navbar-nav">
                      {%if user_name%}
                      <div class="loginButtonContainer">
                         <a class="button track-login">{{ user_name }}</a>
                         <a class="button primary signIn track-sign-up" onclick="logout()">Log Out</a>
                     </div>
                     {%else%}
                     <div class="loginButtonContainer">
                         <a class="button track-login" href="login.html">Log In</a>
                         <a class="button primary signIn track-sign-up" href="signin.html">Sign In</a>
                     </div>
                     {%end%}
                   </ul>
               </div>
          </div>
        </div>
      </nav>
  </div>
  <!--win-->
</div>
<div class="main helpbuy">
	<div class="container">
		<h3>About us</h3>
		<div>We are a platform dedicated to collecting, displaying and providing promotional products from third-party platforms like Amazon, Ebay, Esty, Aliexpress,etc. In order to provide better products, Sellers want to get more feedback for the products they sell through promotion. So all the products we offer will have a great discount. The feedback for the products you leave on the purchase platform will be highly appreciated.Your satisfaction will be our best motivation.</div>
		<h3>Customer Service</h3>
    <div class="imgLeft"><img src="img/email.png"></div>
		<div class="wordRight">Send Us An Email anytime:<span><a onclick="helpemail()">click here</a></span></div>
		<h3>FAQ's | Top Customer Questions</h3>
		<h5>1.HOW CAN I CHECK THE STATUS OF MY ORDER?</h5>
		<div>We are committed to providing promotional products with great discount from third-party platforms like Amazon, Ebay, Esty, Aliexpress,etc. So you can check the status of the order on the relevant platform.</div>
		<h5>2.CAN I SEND YOU AN EMAIL? HOW LONG WILL IT TAKE TO RECEIVE A RESPONSE?</h5>
        <div>Normally we will reply every question within 24 hours, if you have order-related issues, please contact the seller on the relevant platform directly.</div>
        <h5>3.WHAT ARE YOUR SHIPPING RATES AND POLICIES?</h5>
        <div>All the promotional products are shipped by the third party platform who provides the products. Please refer to the shipping policy of the relevant platform.</div>
        <h5>4.HOW DO I RETURN AN ITEM?</h5>
        <div>About the return policy, Please refer to the return policies of the relevant platform.</div>
	</div>
</div>
<div id="helpemail" style="display: none; min-width: 100px;padding:7px 20px 20px 20px;">
   <div class="col-sm-12 col-sm-offset-3 form-box"></div>
</div>
</body>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/jquery.downCount.js"></script>
<script src="js/layer.js"></script>
<script type="text/javascript">
  function helpemail(){
  layerIndex=layer.open({
    title:'请先登录',
    type: 1,
    skin: 'layui-layer-demo', //样式类名
    anim: 2,
    shadeClose: true, //开启遮罩关闭
    btn:false,//按钮
    content: $('#helpemail'),
    yes: function(){

    }

  });
};
</script>
</html>