<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>
        <!-- CSS -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/form-elements.css">
        <link rel="stylesheet" href="static/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>

<div class="header">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">LOGO</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav text-right ">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">how to get $0.99deal</a></li>
					<li><a href="#">connection</a></li>
					<li><a href="#">help</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li><a href="Login.html">登录</a></li>
					<li><a href="signin.html">注册</a></li>
				</ul>
			</div>
			</div>
		</nav>
	</div>
</div>
<div class="main home">
	<div class="container">
		<div class="popular-items">
			<div class="row">
			<p class="today_popular">今日主打</p>
			     <!-- list -->
				 <div class="col-sm-12 col-md-12">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			            </div>
			        </div>
			     </div>
			     <div class="col-sm-12 col-md-12">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			            </div>
			        </div>
			     </div>
                <!-- list -->
			</div>
		</div>
		<div class="all-items">
			<div class="row">
			    <div class="form-group searchPart">
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div><!-- /input-group -->
                </div>
			    <!-- list -->
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
                <!-- list -->
                <!-- list -->
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
			    <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="static/img/1.jpg"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			                <p class="text-left timedown">活动倒计时：</p>
			                <ul class="countdown">
								  <li> <span class="days">00</span><span> 天</span></li>
								  <li> <span class="hours">00</span><span> 时</span></li>
								  <li> <span class="minutes">00</span><span> 分</span></li>
								  <li> <span class="seconds">00</span><span> 秒</span></li>
							</ul>
			                <p class="text-left aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span>100</span><a ><img src="static/img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div>
                <!-- list -->
			</div> 
			
		</div>
	</div>
</div>
        <!-- Javascript -->
        <script src="static/js/jquery-1.11.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.backstretch.min.js"></script>
         <script src="static/js/jquery.downCount.js"></script>
        <script type="text/javascript">
		    $(document).ready(function(){
		    	$('.likeList a img').click(function(){
		    		if($(this).attr("src")==="static/img/unlike.png"){
		    			$(this).attr("src","static/img/like.png");
		    		}
		    		else{
		    			$(this).attr("src","static/img/unlike.png");
		    		}
		    	});
		    	$('.countdown').downCount({
					date: '12/24/2017 12:44:00',
					offset: +10
				}, function () {
					alert('倒计时结束!');
				});
		    });
	    </script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>