<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home</title>
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/style.css">
         <!-- Javascript -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/jquery.downCount.js"></script>
        <script src="js/home.js"></script>
      
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>

<div class="header">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">LOGO</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav text-right ">
					<li><a href="#">Home</a></li>
					<li><a href="#">how to get $0.99deal</a></li>
					<li><a href="#">connection</a></li>
					<li><a href="#">help</a></li>
				</ul>
				<ul class="nav navbar-nav">
					{%if user_name%}
						<div class="loginButtonContainer">
							<a class="button track-login">{{ user_name }}</a>
							<a class="button primary signIn track-sign-up" onclick="logout()">Log Out</a>
						</div>
					{%else%}
						<div class="loginButtonContainer">
						  <a class="button track-login" href="login.html">Log In</a>
						  <a class="button primary signIn track-sign-up" href="signin.html">Sign In</a>
						</div>
					{%end%}
				</ul>
			</div>
			</div>
		</nav>
	</div>
</div>
<div class="main home">
	<div class="container">
		<div class="popular-items">
			<div class="row">
			<p class="today_popular">今日主打</p>
			     <!-- list -->
				 <div class="col-sm-12 col-md-12">
			        <div class="thumbnail">
			            <img src="img/one.png"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			            </div>
			        </div>
			     </div>
			     <div class="col-sm-12 col-md-12">
			        <div class="thumbnail">
			            <img src="img/one.png"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			            </div>
			        </div>
			     </div>
                <!-- list -->
			</div>
		</div>
		<div class="all-items">
			<div class="row">
			    <div class="form-group searchPart">
						<div class="input-group">
							<input type="text" class="form-control" id="homeSearch">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" onclick="search()">
									<sapn><img src="img/search.png"></sapn>
								</button>
							</span>
						</div><!-- /input-group -->
                </div>
			   
                <!-- list -->
                 <div id="listPart">
				    
			     </div>
                <!-- list -->
                
			</div> 
			
		</div>
	</div>
</div>
       
</body>
<script type="text/javascript">
	 //cookie
function logout(){
  checkCookie();
  window.location.href='/product/login.html'
  function getCookie(c_name)
	{
	if (document.cookie.length>0)
	  {
	  c_start=document.cookie.indexOf(c_name + "=")
	  if (c_start!=-1)
	    { 
	    c_start=c_start + c_name.length+1 
	    c_end=document.cookie.indexOf(";",c_start)
	    if (c_end==-1) c_end=document.cookie.length
	    return unescape(document.cookie.substring(c_start,c_end))
	    } 
	  }
	return ""
	}

	function setCookie(c_name,value,expiredays)
	{
	var exdate=new Date()
	exdate.setDate(exdate.getDate()+expiredays)
	document.cookie=c_name+ "=" +escape(value)+
	((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
	}

	function checkCookie()
	{
	username=getCookie('user_name')
	if (username!=null && username!="")
	  {alert('Welcome again '+username+'!')}
	else 
	  {
	  username=prompt('Please enter your name:',"")
	  if (username!=null && username!="")
	    {
	    setCookie('user_name',username,0)
	    }
	  }
	}

}
  //cookie
</script>
</html>