<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/table.css" rel="stylesheet">
		<link href="css/fileinput.css" rel="stylesheet">
		<link href="js/css/layer.css" rel="stylesheet" type="text/css">
		<!--[if lt IE 8]>
	    <meta http-equiv="refresh" content="0;ie.html" />
	    <![endif]-->
	</head>
	<style type="text/css">
	@media (min-width: 500px){
		#addInfoContent input,#editAreaContent input{
              width: 300px;
		}
		#addInfoContent select,#editAreaContent select{
              width: 300px !important;
		}
	}
	@media (max-width: 499px){
        .layui-layer.layui-layer-page.layui-layer-demo.layer-anim-02 {
		    margin-left: -120px!important;
		}
	}
	</style>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeIn">
			<div id="tab-1" class="tab-pane active">
				<div class="col-sm-12">
					<div class="bgBackground">
						<div class="ibox-content">
							<table class="table table-striped table-bordered table-hover dataTables-example">
								<thead>
									<tr class="zx_checkedAll">
										<th colspan="6" style="text-align: left; background: none;">
											<button class="btn btn-default btn-myown" id="delInfo" disabled="disabled"><i class="fa fa-trash"></i>&nbsp;删除选中项</button>
											<button class="btn btn-primary btn-myown" id="addInfo">+添加产品</button>
										</th>
									</tr>
									<tr class="zx_thTitle">
										<th><input type="checkbox" class="zx_checkedBtn" id="zx_checkedAllBtn" name="allcheck" value="allCheck"></th>
										<th>序号</th>
										<th>产品名称</th>
										<th>产品图</th>
										<th>来源</th>
										<th>主题</th>
										<th>原价</th>
										<th>优惠价</th>
										<th>邮费</th>
										<th>描述</th>
										<th>产品的外部链接</th>
										<th>排列顺序</th>
										<th>进入推荐栏</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="tbody">
									<tr></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
            </div>
		</div>
		
		<div id="addInfoContent" style="display: none; min-width: 100px; padding: 20px;">
			<div style="margin: 10px 0;">
				<span>产品名：</span><input id="add_name" type="text" />
			</div>
			<div class="add_name_error"></div>
			<div style="margin: 10px 0;">
				<span>标题：</span><input id="add_theme" type="text" />
			</div>
			<form enctype="multipart/form-data">
	            <span class="f_left">上传图片：</span>
	            <input id="file-zh_add" name="product_img" type="file" multiple>
	        </form>
	        <div class="product_img_error"></div>
			<div style="margin: 10px 0;">
				<span>来源：</span><input id="add_source" type="text" />
			</div>
			<div class="add_source_error"></div>
			<div style="margin: 10px 0;">
				<span>原价：</span><input id="add_ori_price" type="number" />
			</div>
			<div style="margin: 10px 0;">
				<span>优惠价：</span><input id="add_con_price" type="number" />
			</div>
			<div style="margin: 10px 0;">
				<span>邮费：</span><input id="add_postage_price" type="number" />
			</div>
			<div style="margin: 10px 0;">
				<span>描述：</span><input id="add_description" type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>外链：</span><input id="add_links" type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>进入推荐栏：</span>
				<select id="add_recommend" style="width: 154px; height: 27px; border: 1px solid #ddd;margin-left:-5px;">
					<option>是</option>
					<option>否</option>
				</select>
			</div>
			<div style="margin: 10px 0;">
				<span>显示顺序：</span><input id="add_sort_num" type="number" />
			</div>
			<button id="add_submit">确认</button>
			<button id="add_cancel">取消</button>
		</div>
		
		<div id="editAreaContent" style="display: none; min-width: 100px; padding: 20px;">
			<div style="margin: 10px 0;">
				<span>标题：</span><input type="text" />
			</div>
			<form enctype="multipart/form-data">
	            <span class="f_left">上传图片：</span>
	            <input id="file-zh" name="file-zh[]" type="file" multiple>
	        </form>
			<div style="margin: 10px 0;">
				<span>来源：</span><input type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>原价：</span><input type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>优惠价：</span><input type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>邮费：</span><input type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>倒计时：</span><input type="text" />
			</div>
			<div style="margin: 10px 0;">
				<span>进入推荐栏：</span>
				<select style="width: 154px; height: 27px; border: 1px solid #ddd;margin-left:-5px;">
					<option>是</option>
					<option>否</option>
				</select>
			</div>
			<div style="margin: 10px 0;">
				<span>点赞数：</span><input type="text" />
			</div>
		</div>

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/layer.js"></script>
		<script src="js/fileinput.js"></script>
		<script src="js/zh.js"></script>
	
	
		<script type="text/javascript">
			$(function() {
				//全选按钮
				$("#zx_checkedAllBtn").click(function() {
					if(this.checked) {
						$("#tbody :checkbox").prop("checked", true);
					} else {
						$("#tbody :checkbox").prop("checked", false);
					}
					allchk();
				});

				$("#tbody :checkbox").click(function(){
					allchk();
				})
				//全选
				function allchk() {
					$('#delInfo').attr("disabled",false); 
					var chknum = $("#tbody :checkbox").size(); //选项总个数 
					var chk = 0;
					$("#tbody :checkbox").each(function(index,ele) {
						$(this).parents('tr').attr('id',"trId_"+index);
						if($(this).prop("checked") == true) {
							chk++;
						}
					});
					if(chknum == chk) { //全选 
						$("input[name=allcheck]").prop("checked", true);
					} else { //不全选 
						$("input[name=allcheck]").prop("checked", false);
					}
					if(chk>=1){
							$('#delInfo').attr('class','btn btn-primary btn-myown');
					}else{
						$('#delInfo').attr('class','btn btn-default btn-myown');
					}
				}
				/*=================================*/
	
				//============
					//删除选中项
				$('#delInfo').click(function() {
					var valArr = new Array;
					getValArr(valArr);
					
					if(valArr.length > 0) {
						
						layer.confirm('您确定删除吗？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							console.log(valArr)
							delData(valArr);
							layer.closeAll();
							layer.msg('删除成功', {
							icon: 1,
							time:600
						});
						$('#delInfo').attr("disabled","disabled");
						$('#delInfo').attr('class','btn btn-default btn-myown');
						}, function() {
						});
					} else {
						$('#delInfo').attr("disabled","disabled");
					}
				});
				
				function getValArr(valArr) {
					$("#tbody :checkbox").each(function(index, ele) {
						if($(ele).prop("checked")) {
							valArr.push(index);
						}
					});
				}
				
				function delData(valArr){
					for(var i=0;i<valArr.length;i++){
						$('#trId_'+valArr[i]).remove();
					}
				}
				
				$('#delInfo1').click(function() {
					var valArr1 = new Array;
					getValArr1(valArr1);
					if(valArr1.length > 0) {
						layer.confirm('您确定删除吗？', {
							btn: ['确定', '取消'] //按钮
						}, function() {
							console.log(valArr1)
							delData1(valArr1);
							layer.closeAll();
							$('#delInfo1').attr("disabled","disabled");
							$('#delInfo1').attr('class','btn btn-default btn-myown');
						}, function() {});
					} else {
						$('#delInfo1').attr("disabled","disabled");
					}
				});
				
				function getValArr1(valArr1) {
					$("#tbodyAll :checkbox").each(function(indexe, elee) {
						if($(elee).prop("checked")) {
							valArr1.push(indexe);
						}
					});
				}
				
				function delData1(valArr1){
					for(var i=0;i<valArr1.length;i++){
						$('#trIdAll_'+valArr1[i]).remove();
					}
				}
				
				//==========
				var layerIndex;
				//添加
				$('#addInfo').click(function(){
					layerIndex=layer.open({
					title:'添加产品',
					  type: 1,
					  skin: 'layui-layer-demo', //样式类名
					  anim: 2,
					  shadeClose: true, //开启遮罩关闭
					  btn: ['确定', '取消'] ,//按钮
					  content: $('#addInfoContent'),
					   yes: function(){

					  	//layer.closeAll();
					    //layer.msg('添加成功', {
					    //	icon: 1,
						//    time: 800//2s后自动关闭
						//  });
					  }
					});
				});
				$('.areapen').click(function(){
					layerIndex=layer.open({
					title:'修改产品信息',
					  type: 1,
					  skin: 'layui-layer-demo', //样式类名
					  closeBtn: 0, //不显示关闭按钮
					  anim: 2,
					  shadeClose: true, //开启遮罩关闭
					  btn: ['确定', '取消'] ,//按钮
					  content: $('#editAreaContent'),
					   yes: function(){
					  	layer.closeAll();
					    layer.msg('添加成功', {
					    	icon: 1,
						    time: 800//2s后自动关闭
						  });
					  }
					});
				});
					
				$('.fa-exclamation-circle').mouseover(function() {
					$(this).next('.hiddenIntroduce').show();
				});
				$('.fa-exclamation-circle').mouseout(function() {
					$(this).next('.hiddenIntroduce').hide();
				});
				
				$('.fa-close').click(function() {
				layer.confirm('确定删除吗？', {
					btn: ['确定', '取消'] //按钮
				}, function() {
					layer.msg('删除成功', {
						icon: 1,
						time: 600
					});
				}, function() {});
			});
			});
		</script>
	<script>
	        $(".layui-layer-btn0").click(function(){

	        });
		    $('#file-zh_add').fileinput({
		        uploadUrl: '/product/product_os',
		        //language: 'zh',
		        allowedFileExtensions : ['jpg', 'png','gif'],
		        maxFileCount: 1,
				showCaption: false,
		        enctype: 'multipart/form-data',
		        uploadExtraData: function(previewId, index) {   //额外参数的关键点
					var obj = {};
					obj.product_name = $("#add_name").val();
					obj.source = $("#add_source").val();
					obj.theme = $("#add_theme").val();
					obj.ori_price = $("#add_ori_price").val();
					obj.con_price = $("#add_con_price").val();
					obj.postage_price = $("#add_postage_price").val();
					obj.description = $("#add_description").val();
					obj.links = $("#add_links").val();
					obj.sort_num = $("#add_sort_num").val();
					obj.recommend = $("#add_recommend").val();
					return obj;
				},
		        ajaxSettings: {//这个是因为我使用了SpringSecurity框架，有csrf跨域提交防御，所需需要设置这个值
		                beforeSend: function (xhr) {
		                    xhr.setRequestHeader('X-CSRFToken', '1234');
		                }
		            }
		    }).on('fileuploaded', function(event, data, previewId, index) {
                        if($("#add_name").val()==""){
                           $(".add_name_error").html("产品名不能为空!");
                           $('input').val("");
                        }
                        else if($("#add_source_error").val()==""){
                           $(".add_name_error").html("来源不能为空!");
                        }
                        else if($("#file-zh_add").val()==""){
                          $(".product_img_error").html("图片不能为空!");
                        }
                        else{
          //               	 layer.closeAll();
							   //  layer.msg('添加成功', {
							   //  	icon: 1,
								  //   time: 800//2s后自动关闭
								  // });
							 console.log("xx");
							 productAdd();
			                 
                        	// alert('i = ' + index + ', id = ' + previewId + ', file = ' + data.response.message);
         //                	        '<tr class="gradeX"><td><input type="checkbox" class="zx_checkedBtn"></td><td class="centerSort">'+index+
									// '</td><td class="userMessage">'+$("#add_name").val()+'</td><td class="">'+img_path+'</td><td>'+$("#add_source").val()+
									// '</td><td class="center">'+$("#add_theme").val()+'</td><td class="center">'+$("#add_ori_price").val()+
									// '</td><td class="center">'+$("#add_con_price").val()+'</td><td class="center">'+$("#add_postage_price").val()+
									// '</td><td class="center">'+$("#add_description").val()+'</td><td class="center">'+$("#add_links").val()+
									// '</td><td class="center">'+$("#add_sort_num").val()+
									// '</td><td class="center">'+$("#add_recommend").val()+
									// '</td><td><i class="fa fa-pencil areapen" title="修改"></i></td></tr>'
         //                	$("#tbody tr:last-child").append(str);
         //                	$('input').val("");console.log(2);
                        }   
				
		    });
		    function productAdd(){
		    	$.ajax({
	                    type: "GET",
	                    url:"/product/product_os",
	                    async: false,
	                    data:data,
	                    success: function(msg) {
	                        var data = JSON.parse(msg);
	                        console.log(msg);
	                        $("#taby").find("tr").remove();
	                        var str="";
	                        // for(i in msg){
	                        // 	str+=
	                        // }     
	                    },
	                    error:function(){
	                        console.log("error");
	                    }
	                });
		    }
		    $("#file-0").fileinput({
		        'allowedFileExtensions' : ['jpg', 'png','gif'],
		    });
		    $("#file-1").fileinput({
		        uploadUrl: '#', // you must set a valid URL here else you will get an error
		        allowedFileExtensions : ['jpg', 'png','gif'],
		        overwriteInitial: false,
		        maxFileSize: 1000,
		        maxFilesNum: 1,
		        //allowedFileTypes: ['image', 'video', 'flash'],
		        slugCallback: function(filename) {
		            return filename.replace('(', '_').replace(']', '_');
		        }
			});
		    /*
		    $(".file").on('fileselect', function(event, n, l) {
		        alert('File Selected. Name: ' + l + ', Num: ' + n);
		    });
		    */
			$("#file-3").fileinput({
				showUpload: false,
				showCaption: false,
				browseClass: "btn btn-primary btn-lg",
				fileType: "any",
		        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
			});
			$("#file-4").fileinput({
				uploadExtraData: {kvId: '10'}
			});
		    $(".btn-warning").on('click', function() {
		        if ($('#file-4').attr('disabled')) {
		            $('#file-4').fileinput('enable');
		        } else {
		            $('#file-4').fileinput('disable');
		        }
		    });    
		    $(".btn-info").on('click', function() {
		        $('#file-4').fileinput('refresh', {previewClass:'bg-info'});
		    });
		    /*
		    $('#file-4').on('fileselectnone', function() {
		        alert('Huh! You selected no files.');
		    });
		    $('#file-4').on('filebrowse', function() {
		        alert('File browse clicked for #file-4');
		    });
		    */
		    $(document).ready(function() {
		        $("#test-upload").fileinput({
		            'showPreview' : false,
		            'allowedFileExtensions' : ['jpg', 'png','gif'],
		            'elErrorContainer': '#errorBlock'
		        });
		        /*
		        $("#test-upload").on('fileloaded', function(event, file, previewId, index) {
		            alert('i = ' + index + ', id = ' + previewId + ', file = ' + file.name);
		        });
		        */
		    });
		    function get_token() {
		        $.ajax({
		          url: url,
		          data: data,
		          success: success,
		          dataType: dataType
		        });
		    }
	</script>
	</body>

</html>