<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>product</title>
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>
<input id="current_keyword" type="" value="{{ keyword }}">
<div class="header">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid"> 
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">LOGO</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav text-right ">
					<li><a href="#">Home</a></li>
					<li><a href="#">how to get $0.99deal</a></li>
					<li><a href="#">connection</a></li>
					<li><a href="#">help</a></li>
				</ul>
				<ul class="nav navbar-nav">
                    {%if user_name%}
						<div class="loginButtonContainer">
							<a class="button track-login">{{ user_name }}</a>
							<a class="button primary signIn track-sign-up" onclick="logout()">Log Out</a>
						</div>
					{%else%}
						<div class="loginButtonContainer">
						  <a class="button track-login" href="login.html">Log In</a>
						  <a class="button primary signIn track-sign-up" href="signin.html">Sign In</a>
						</div>
					{%end%}
				</ul>
			</div>
			</div>
		</nav>
	</div>
</div>
<div class="main home">
	<div class="container">
		<div class="popular-items">
			<div class="row">
			<p class="today_popular">今日主打</p>
			     <!-- list -->
				 <div class="col-sm-12 col-md-12">
			        <div class="thumbnail">
			            <img src="img/one.png"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			            </div>
			        </div>
			     </div>
			     <div class="col-sm-12 col-md-12">
			        <div class="thumbnail">
			            <img src="img/one.png"
			                 alt="通用的占位符缩略图">
			            <div class="caption">
			                <p>产品1</p>
			            </div>
			        </div>
			     </div>
                <!-- list -->
			</div>
		</div>
		<div class="all-items">
			<div class="row">
			    <div class="form-group searchPart">
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" onclick="productsearch()">
									<sapn><img src="img/search.png"></sapn>
								</button>
							</span>
						</div><!-- /input-group -->
                </div>
			    <!-- list -->
			    <div id="listPart"></div>
			     <!-- <div class="col-sm-6 col-md-3">
			        <div class="thumbnail">
			            <img src="img/one.png"
			                 alt="通用的占位符缩略图">
			            <div class="caption text-left">
			                <p class="product_name"><a>AmazonBasics 6-Outlet Surge Protector Power Strip, 790 Joule - Black</a></p>
			                <p class="color_gray"> by AmazonBasics</p>
			                <p class="howmuch"><span class="color_red"><a>$3.99</a></span>&nbsp;&nbsp;<span class="color_gray"><a>$6.999</a></span>&nbsp;&nbsp;<span class="color_gray_block">&Free shipping</span></p>
			                <a><span class="timedown">Start for you in：</span>
			                <ul class="countdown">
								  <li> <span class="hours">00</span><span> :</span></li>
								  <li> <span class="minutes">00</span><span> :</span></li>
								  <li> <span class="seconds">00</span><span> </span></li>
							</ul></a>
			                <p class="aboutHelp"><a>how to claim it?</a></p>
			                <div class="likeList"><span class="f_left"><a>share</a></span><span class="likecount">100</span><a ><img src="img/unlike.png"></a></div>
			            </div>
			        </div>
			    </div> -->
			   
                <!-- list -->
                
			</div> 
			
		</div>
	</div>
</div>
        <!-- Javascript -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/jquery.downCount.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/product.js"></script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>