<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <h1>Create account</h1>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        <label class="sr_only" for="form-username">Your name</label>
                                        <input type="text" name="form-username" placeholder="Your name" class="form-username form-control" id="sign_form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr_only" for="form-email">Email</label>
                                        <input type="text" name="form-email" placeholder="Email" class="form-Email form-control" id="sign_form-Email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr_only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="sign_form-password">
                                    </div>
                                     <div class="form-group">
                                        <label class="sr_only" for="form-Re-enter">Re-enter password</label>
                                        <input type="password" name="form-Re-enter" placeholder="Re-enter password" class="form-Re-enter form-control" id="form-Re-enter">
                                    </div>
                                    <div class="form-group text-right">
                                        <div class="forget"><a href="login.html">Already have an account?</a></div>
                                    </div>
                                    <button type="submit" class="btn submitbtn" onclick="signin()">Create your new account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                   <!---->
                </div>
            </div>    
        </div>
        <!-- Javascript -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script> 
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
         <script type="text/javascript">
            function signin(){
                var data = {
                    user_name:BASE64.encoder($("#sign_form-username").val()),
                    email:$("#sign_form-Email").val(),
                    pwd:$("#sign_form-password").val(),
                    affirm_pwd:$("#form-Re-enter").val()
                }
                console.log(data);
                $.ajax({
                    type: "POST",
                    url:"127.0.0.1:8080/product/signin",
                    async: false,
                    data:data,
                    success: function(msg) {
                        console.log("ok");
                        console.log(msg);
                        var data = JSON.parse(msg)
                        // console.log(data.result.tokenId);
                        // var tokenId = data.result.tokenId;
                        // localStorage.setItem("tokenId", tokenId);

                    },
                    error:function(){
                        console.log("error");
                    }
                });
            }
        </script>
    </body>
</html>