<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Signin</title>
        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/form-elements.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <h1>Create account</h1>
                            </div>
                            <div class="form-bottom">
                                    <div class="form-group">
                                    <div id="confirmerror"></div>
                                        <label class="sr_only" for="form-username">Your name</label>
                                        <input type="text" name="form-username" placeholder="Your name" class="form-username form-control" id="sign_form-username">
                                        <div id="confirmname"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr_only" for="form-email">Email</label>
                                        <input type="text" name="form-email" placeholder="Email" class="form-Email form-control" id="sign_form-Email">
                                        <div id="confirmMsg"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr_only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Password" class="form-password form-control" id="sign_form-password">
                                        <div id="confirmpassword"></div>
                                    </div>
                                     <div class="form-group">
                                        <label class="sr_only" for="form-Re-enter">Re-enter password</label>
                                        <input type="password" name="form-Re-enter" placeholder="Re-enter password" class="form-Re-enter form-control" id="form-Re-enter">
                                        <div id="confirmRe"></div>
                                    </div>
                                    <div class="form-group text-right">
                                        <div class="forget"><a href="login.html">Already have an account?</a></div>
                                    </div>
                                    <button class="btn submitbtn" onclick="signin()">Create your new account</button>
                            </div>
                        </div>
                    </div>
                   <!---->
                </div>
            </div>    
        </div>
        <!-- Javascript -->
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/scripts.js"></script> 
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
         <script type="text/javascript">
            $(".submitbtn").click(function(){
                
            });
            function signin(){
                $("#confirmRe").html("");
                $("#confirmpassword").html("");
                 $("#confirmMsg").html("");
                 $("#confirmname").html("");
                if ($("#form-Re-enter").val() == "") {
                    $("#confirmRe").html("Password不能为空！");
                    $("#form-Re-enter").focus(); 
                }
                if ($("#form-Re-enter").val() != $("#sign_form-password").val()) {
                    $("#confirmRe").html("密码不统一！");
                    $("#form-Re-enter").focus(); 
                }
                if ($("#sign_form-password").val() == "") {
                    $("#confirmpassword").html("Password不能为空！");
                    $("#sign_form-password").focus();    
                }
                 if ($("#sign_form-Email").val() == "") {
                    $("#confirmMsg").html("邮箱地址不能为空！");
                    $("#sign_form-Email").focus();  
                }
                if($("#sign_form-Email").val()!='' && !/.+@.+\.[a-zA-z]{2,4}$/.test($("#sign_form-Email").val())) {
                    $("#confirmMsg").html("邮箱格式不正确！请重新输入！");
                    $("#sign_form-Email").focus();  
                }
                if ($("#sign_form-username").val() == "") {
                    $("#confirmname").html("Name不能为空！");
                    $("#sign_form-username").focus();
                }
                 
                var data = {
                    user_name:$("#sign_form-username").val(),
                    email:$("#sign_form-Email").val(),
                    pwd:$("#sign_form-password").val(),
                    affirm_pwd:$("#form-Re-enter").val()
                }
               
                $.ajax({
                    type: "POST",
                    url:"/product/signin",
                    async: false,
                    data:data,
                    success: function(msg) {

                        console.log(msg);
                        console.log(state);
                        if(state=0){
                        window.location.href="/product/home.html";
                        }
                        else if(state=1){
                          $("#confirmRe").html("密码不一致或者不满足格式！");
                        }
                        else if(state=2){
                          $("#confirmMsg").html("邮箱格式错误！");
                        }
                        else if(state=3){
                         window.location.href="/product/signin_notice.html";
                        }
                        else if(state=4){
                          $("#confirmerror").html("创建用户失败，可能用户名或邮箱已经存在！");
                        }
                        else{
                          $("#confirmerror").html("发送邮件失败,请重新提交");
                        }

                    },
                    error:function(){
                        console.log("error");
                    }
                });
            }
        </script>
    </body>
</html>
